[Unit]
Description=Initializes the target
After=overlayfs-init.service
ConditionPathExists=!/etc/target_init_completed
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-machine-id-setup
ExecStart=/usr/bin/init-hostname.sh
ExecStart=/bin/touch /etc/target_init_completed

[Install]
WantedBy=multi-user.target
